@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E8F8F8;
  --foreground: #1A2E2E;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-syne), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
